.wrapper{
    margin-top: 40px;
}
.usersList{
    display: flex;
    flex-wrap: wrap;
}


.row{
    display: flex;
    justify-content: space-around;
}
.pagesDiv{
    width: 80%;
    height: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
}

.pageButton{
    margin: 7px;
    padding: 8px;
    border: 0;
    border-radius: 50px;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.07);
}
.pageButton:hover{
    box-shadow: none;
    transition-duration: 0.3s;
}
.controlBtn{
    background: none;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 40px;
    cursor: pointer;
}
.controlBtn img{
    width: 20px;
}
.simplePageBtn{
    background: white;
    color: #666666;
    width: 45px;
    height: 45px;


}
.selected{
    background: rgba(102, 102, 102, 0.46);
    color: white;
    width: 50px;
    height: 50px;
}
button{
    cursor: pointer;
}
button, input:focus{
    outline: none;
}
.pagesLog{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.pagesLog input{
    width: 60px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    box-shadow: -2px 3px 4px 0 rgba(0, 0, 0, 0.04);
    margin-right: 10px;
}
.pagesLog input:focus{
    border: 1px solid;
}