*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: 1300px;
  margin: 0 auto;
}
.appBody{
  padding: 30px 40px;
  background: rgba(243, 243, 243, 0.5);
}
.title{
  margin: 0 25px;
  color: #2d2828;
  padding-bottom: 10px;
  border-bottom: 3px solid;
  width: 100px;
  text-align: center;
}
button{
  margin: 10px;
  padding: 10px 23px;
  border: 1px solid lightgreen;
  border-radius: 50px;
}